*.*
!/JavaScriptPlayground/package.json
!/JavaScriptPlayground/package-lock.json
!/README.md
!/JavaScriptPlayground/**/*.js
!/JavaScriptPlayground/**/*.cjs
!/.gitignore
!/.babelrc
**/node_modules
**/coverage